# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
instance/
.pytest_cache/

# Project Data
backend/uploaded_songs/*
!backend/uploaded_songs/.gitkeep

# OS
.DS_Store
Thumbs.db

# Media & Binary Assets (Ignored for Hugging Face)
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.webp
*.svg

# IDE
.vscode/
.idea/
*.swp
*.swo
